
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-right">
      <button  mat-button style="margin: 10px 0px; " routerLinkActive="active" routerLink="/weather">Weather
        <mat-icon>gamepad</mat-icon>
      </button>
      <button mat-button routerLinkActive="active" routerLink="/favorites-list">Favorites
        <mat-icon>favorite_border</mat-icon>
      </button>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand">Herolo Weather Task</a>
    </div>
  </div>

