
<div>
  <p-autoComplete emptyMessage="No results found" name="auto" size="50px" field="LocalizedName" placeholder="Search..." type="text" [(ngModel)]="searchText" [suggestions]="results" (completeMethod)="search($event)" (onSelect)="selectCity($event)">
  </p-autoComplete>
</div>
<mat-card id="main" style="height: 400px; width:800px">
  <mat-card-header style="margin-bottom:40px">
    <mat-card-title style="width:570px; margin-right: 0px;"> {{weather.cityName}} </mat-card-title>
    <button mat-raised-button (click)="addToFavoriate()" style= "height:50px;float: right;">
 Add To Favoriate</button>
    <mat-card-subtitle style="padding-left:15px;">{{weather.temperature}}{{weather.unit}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>   
  <h4 style="font-size:30px; font-weight: 600; ">{{weather.weatherText}}</h4>
    <mat-list id="list"> 
      <ng-container *ngFor="let day of weather.fivaDaysforecasts">
        <mat-list-item  >
          <mat-card class="example-card" >
              <h4>{{day.Date | date:'EEE'}}</h4>
              <p>{{day.Temperature.Minimum.Value | temperatureConverter: 'C'}}C</p>
          </mat-card> 
        </mat-list-item>
    </ng-container>  
  </mat-list>
  </mat-card-content>
</mat-card>




